<h5>*ngIf</h5>

<div *ngIf="cursos.length > 0">
  Lista de cursos aqui.  
</div>

<div *ngIf="cursos.length == 0">
  Não existem cursos para serem listados.
</div>

<br>

<div *ngIf="mostrarCursos">
  Lista de cursos aqui.  
</div>

<div *ngIf="!mostrarCursos">
  Não existem cursos para serem listados.
</div>

<br>

<button (click)="onMostrarCursos()">Mostrar Cursos</button>
<br>

<h5>Hidden como alternativa</h5>

<br>

<div [hidden]="!mostrarCursos">
  Lista de cursos aqui.  
</div>

<div [hidden]="mostrarCursos">
  Não existem cursos para serem listados.
</div>