<section class="property-binding">
  <!--<article>
    <h3>Interpolação</h3>
    <p>String renderizada com interpolação: {{ url }}</p>
    <p>Resultado de 1 + 1: {{ 1 + 1 }}</p>
    <p>Resultado do método getValor(): {{ getValor() }}</p>
    <p>Curso Angular && getCurtirCurso(): {{ cursoAngular && getCurtirCurso() }}</p>    
  </article>

  <article>
      <h3>Property binding</h3>
      <p>
        Exemplo de Interpolação
      </p>
      <img src="{{ urlImagem }}" />
      <p>
        Exemplo de Property binding [ ] os colchetes identifica um property binding
      </p>      
      <p>Isso:</p>
      <img [src]="urlImagem" /> 
      <p>é a mesma coisa disso:</p> 
      <img bind-src="urlImagem">
  </article>-->

  <article>
    <h3>Class e Style Binding</h3>
    <div>
      Selecione uma classe: 
      <select #classe (change)="0">
          <option value="alert-success">Sucesso</option>
          <option value="alert-info">Info</option>
          <option value="alert-warning">Warning</option>
          <option value="alert-danger">Danger</option>          
      </select>
      <br><br>

      <div class="alert {{ classe.value }}" role="alert">Texto colorido conforme o valor do combobox.</div>

      <div class="alert" role="alert" [class.alert-success]="classe.value == 'alert-success'">Sucesso</div>
      <div class="alert" role="alert" [class.alert-info]="classe.value == 'alert-info'">Info</div>
      <div class="alert" role="alert" [class.alert-warning]="classe.value == 'alert-warning'">Alerta</div>
      <div class="alert" role="alert" [class.alert-danger]="classe.value == 'alert-danger'">Erro</div>

      <div class="alert alert-danger" role="alert" [style.display]="classe.value == 'alert-danger' ? 'block' : 'none'">Esse texto somente aparece em caso de erro</div>

    </div>
  </article>

</section>